<div class="container-fluid px-5">
  <div class="row">
    <!-- Contenido principal -->
    <div class="col-md-12 px-5">
      <!-- Cabecera de la página -->
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Hola, {{ userName }} {{userSurname}} </h1>
        <div>
          <!-- Menú desplegable de perfil -->
          <div class="profile-menu" *ngIf="showProfileMenu">
            <!-- Contenido del menú de perfil -->
            <ul>
              <li>{{ userRole }}</li>
              <li>Mi Perfil</li>
              <li>Cerrar sesión</li>
            </ul>
          </div>
        </div>
      </div>

<!-- Cuadros con gráficos -->
<div class="row">
  <div class="col-md-4">
    <div class="card card-custom bg-primary btn-rect">
      <div class="card-body">
        <h5 class="card-title text-white text-uppercase">Cursos adquiridos</h5>
        <p class="card-text text-white fs-3"><strong>{{ purchasedCoursesCount }}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bg-success btn-rect">
      <div class="card-body">
        <h5 class="card-title text-white text-uppercase">Cursos completados</h5>
        <p class="card-text text-white fs-3"><strong>{{ completedCoursesCount }}</strong></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-custom bg-secondary btn-rect">
      <div class="card-body">
        <h5 class="card-title text-white text-uppercase">Certificaciones</h5>
        <p class="card-text text-white fs-3"><strong>{{ certificationsCount }}</strong></p>
      </div>
    </div>
  </div>
</div>

<!-- Cuadro último curso visto -->
<div class="card mt-4 btn-rect">
  <div class="card-header">
    Último curso visto
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ lastCourseImage }}" alt="Imagen del último curso" class="img-fluid">
      </div>
      <div class="col-md-9">
        <h5 class="card-title">{{ lastCourseTitle }}</h5>
        <p class="card-text">{{ lastCourseDescription }}</p>
        <button class="btn btn-primary btn-rect">Continuar</button>
      </div>
    </div>
  </div>
</div>

      <!-- Cuadro línea temporal y avance de cursos -->
      <div class="card mt-4 btn-rect">
        <div class="card-header">
          Línea temporal y avance de cursos
        </div>
        <div class="card-body">
          <!-- Aquí puedes mostrar la línea temporal y el avance de cursos -->
          <div class="timeline">
            <div class="timeline-item" *ngFor="let course of courses; let i = index">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <h5>{{ course.nombre_curso }}</h5>
                <p>0% completado</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
