<!-- Administradores -->
<div class="section-title text-center position-relative mb-5 title">
    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Administradores</h6>
    <h1 class="display-4">Consulta a los administradores</h1>
</div>
<div class="card-group format">
    <div class="card format_img">
      <img src="assets/img/team-1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Administrador</h5>
        <p class="card-text">Cursos para principiantes</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/team-2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Administrador</h5>
        <p class="card-text">Cursos para principiantes</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/team-3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Administrador</h5>
        <p class="card-text">Cursos para principiantes</p>
      </div>
    </div>
  </div>
<!-- Administradores -->


