<div class="section-title text-center position-relative mb-5 title mt-5">
  <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Cursos de formación</h6>
  <h1 class="display-4">Consulta nuestras rutas de aprendizaje</h1>
</div>

            <div class="container pb-6">
              <div class="row pt-3 pb-4">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let categoria of categorias">
                  <button class="btn btn-block btn-lg btn-rect pt-4 pb-4" [ngClass]="categoria.colorClass" (click)="filtrarCursosPorCategoria(categoria.id_categoria)">{{ categoria.nombre }}</button>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                  <button class="btn btn-block btn-lg btn-rect pt-4 pb-4 bg-light border-dark text-dark" (click)="mostrarTodosLosCursos()">Todos los cursos</button>
                </div>
              </div>
            </div>

    <h2 class="display-6 text-center mt-6" style="margin: 90px 0 30px 0;">{{ tituloCursos }}</h2>

    <app-cursos-container id="cursos" [cursosFiltrados]="cursosFiltrados" [sinCursos]="sinCursos"></app-cursos-container>

    <ng-container *ngIf="{total: total$ | async} as dataCart">
        <div class="container container-fluid d-flex justify-content-center align-items-center flex-column end-buy-container " *ngIf="dataCart.total !== 0">
            <h2 style="margin: 90px 0 30px 0;">Su compra total es de $ {{dataCart.total}}</h2>
            <!-- <p class="fw-lighter mt-2 text-center">Ir al carrito</p> -->
            <button class="btn btn-primary fs-2 end-buy btn-rect" routerLink="/cursos/checkout">Terminar Compra</button>
        </div>
    </ng-container>



