<div class="section-title text-center position-relative mb-4">
    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Nuestros Cursos</h6>
    <h1 class="display-4">Verifica los nuevos cursos</h1>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="assets/img/courses-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos para principiantes</h5>
          <a href="#" class="btn btn-primary">Detalle del Curso</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="assets/img/courses-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos para principiantes</h5>
          <a href="#" class="btn btn-primary">Detalle del Curso</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="assets/img/courses-5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos para principiantes</h5>
          <a href="#" class="btn btn-primary">Detalle del Curso</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="assets/img/courses-6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos para principiantes</h5>
          <a href="#" class="btn btn-primary">Detalle del Curso</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="assets/img/courses-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos para principiantes</h5>
          <a href="#" class="btn btn-primary">Detalle del Curso</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem; margin: 5px;">
        <img src="assets/img/courses-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cursos para principiantes</h5>
          <a href="#" class="btn btn-primary">Detalle del Curso</a>
        </div>
    </div>
</div>