<!-- Zona de contacto -->
<div class="container-fluid py-5" id="contacto">

    <div class="container py-5">
        <div class="row align-items-center">

            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">¿Tienes alguna duda?</h6>
                    <h1 class="display-4">Envíanos un mensaje</h1>
                </div>
                <div class="contact-form">
                    <form class="needs-validation" novalidate id="form-message">
                        <div class="row">
                            <div class="col-6 form-group">
                                <input type="text" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Tu nombre" id="name" required="required">
                                <div class="invalid-feedback">
                                    Ingresa tu nombre.
                                </div>
                            </div>
                            <div class="col-6 form-group">
                                <input type="email" class="form-control border-top-0 border-right-0 border-left-0 p-0" placeholder="Tu E-mail" id="email" required="required">
                                <div class="invalid-feedback">
                                    Ingresa tu email.
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control border-top-0 border-right-0 border-left-0 p-0" rows="5" placeholder="Mensaje" id="message" required="required"></textarea>
                            <div class="invalid-feedback">
                                Déjanos un mensaje.
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-primary py-3 px-5" type="submit" id="btnSubmitMessage">Enviar mensaje</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
