 <!-- Sobre nosotros -->
 <div class="container-fluid py-5" id="sobre-nosotros">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Sobre nosotros</h6>
                    <h1 class="display-4">EDUCANDO</h1>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, quasi? Suscipit, laudantium obcaecati, quod reprehenderit repudiandae libero ab explicabo assumenda facilis omnis vel voluptatibus. Soluta facere eos nulla repellendus corporis!</p>
                <div class="row pt-3 mx-0">
                    <div class="col-3 px-0">
                        <div class="bg-success text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white">Rutas de<span class="d-block">Aprendizaje</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-primary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Cursos<span class="d-block">Onlines</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-secondary text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">123</h1>
                            <h6 class="text-uppercase text-white text-center">Expertos<span class="d-block text-center">Instructores</span></h6>
                        </div>
                    </div>
                    <div class="col-3 px-0">
                        <div class="bg-warning text-center p-4">
                            <h1 class="text-white" data-toggle="counter-up">1234</h1>
                            <h6 class="text-uppercase text-white">Estudiantes<span class="d-block">Felices</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sobre nosotros fin-->

<!-- Destacados -->
<div class="container-fluid bg-image" style="margin: 90px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 my-5 pt-5 pb-lg-5" style="padding: 60px;">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">¿Elegir EDUCANDO? ¿Por qué?</h6>
                    <h1 class="display-4">¿Porqué deberías empezar a elegir nuestros cursos?</h1>
                </div>
                <p class="mb-4 pb-2">Porque nuestros cursos son analizados por miles de usuarios que avalan la información</p>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-primary mr-4">
                        <i class="fa fa-2x fa-graduation-cap text-white"></i>
                    </div>
                    <div class="mt-n1">
                      <h4>Administradores elegidos por los usuarios</h4>
                      <p>Los administradores son seleccionados por su participación e información elegida por los mismos estudiantes</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="btn-icon bg-secondary mr-4">
                        <i class="fa fa-2x fa-certificate text-white"></i>
                    </div>
                    <div class="mt-n1">
                      <h4>Puedes obtener la certificación correspondiente</h4>
                      <p>Al finalizar nuestros cursos puedes obtener la certificación que avala tu cursado</p>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="btn-icon bg-warning mr-4">
                        <i class="fa fa-2x fa-book-reader text-white"></i>
                    </div>
                    <div class="mt-n1">
                      <h4>Puedes obtener la certificación correspondiente</h4>
                      <p>Al finalizar nuestros cursos puedes obtener la certificación que avala tu cursado</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px; padding: 20px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="assets/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destacados Fin -->
