<!-- Inicio del Footer -->
<div class="container-fluid position-relative overlay-top bg-dark text-white-50 py-5" style="margin-top: 90px;">
  <div class="container mt-5 pt-5">
    <div class="row">
      <div class="col-md-6 mb-5">
        <a href="index.html" class="navbar-brand">
          <h1 class="mt-n2 text-uppercase text-white"><i class="bi bi-book mr-3"></i>EDUCANDO</h1>
        </a>
        <p class="m-0">Educando está pensada para que el estudiante se sienta cómodo a la hora de aprender, en una plataforma amigable y con los conocimientos claves para su desarrollo académico.</p>
      </div>
      <div class="col-md-6 mb-5">
        <h3 class="text-white mb-4">Boletín Informativo</h3>
        <div class="w-100">
          <div class="input-group">
            <input type="text" class="form-control border-light btn-rect" style="padding: 30px;" placeholder="Correo electrónico" required>
            <div class="input-group-append">
              <button class="btn btn-primary px-4 btn-rect">Regístrate</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <h3 class="text-white mb-4">Contáctanos:</h3>
        <div class="d-flex justify-content-start mt-4">
          <a class="text-white mr-4" href="#"><i class="bi bi-twitter" style="font-size: 1.75rem"></i></a>
          <a class="text-white mr-4" href="#"><i class="bi bi-facebook" style="font-size: 1.75rem"></i></a>
          <a class="text-white mr-4" href="#"><i class="bi bi-linkedin" style="font-size: 1.75rem"></i></a>
          <a class="text-white" href="#"><i class="bi bi-instagram" style="font-size: 1.75rem"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark text-white-50 border-top py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
        <p class="m-0"> &copy; <a class="text-white" href="index.html">Educando</a>. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Final del footer -->
