<!-- Administradores -->
<div class="section-title text-center position-relative mb-5 title">
    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Administradores</h6>
    <h1 class="display-4">Consulta a los administradores</h1>
</div>
<div class="card-group format">
    <div class="card format_img">
      <img src="assets/img/romeo.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Romeo</h5>
        <p class="card-text">Administrador</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/fernando.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Fernando</h5>
        <p class="card-text">Administrador</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/dario.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Dario</h5>
        <p class="card-text">Administrador</p>
      </div>
    </div>
  </div>

  <div class="card-group format">
    <div class="card format_img">
      <img src="assets/img/juan.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Juan</h5>
        <p class="card-text">Administrador</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/eduardo.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Eduardo</h5>
        <p class="card-text">Administrador</p>
      </div>
    </div>
    <div class="card format_img">
      <img src="assets/img/valeria.png" class="card-img-top square-img" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="color: #ffff;">Valeria</h5>
        <p class="card-text">Administrador</p>
      </div>
    </div>
  </div>
<!-- FIN Administradores -->
