.card {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  margin: 0 !important;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  transition: opacity 0.3s ease;
}

.image-container:hover .card-img-top {
  opacity: 0.7;
}

.btn-rect {
  border-radius: 0;
}

.btn-details {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  z-index: 1;
  font-size: 1.2rem;
  padding: 10px 20px;
}

.card:hover .btn-details {
  display: block;
}

.card-body {
  position: relative;
  z-index: 2;
}

.card-title {
  padding: 10px;
  margin-bottom: 0;
}

.bg-color-0 {
  background-color: #6c757d; /* Color gris */
}

.bg-color-1 {
  background-color: #198754; /* Color verde */
}

.bg-color-2 {
  background-color: #0d6efd; /* Color azul */
}

.bg-color-3 {
  background-color: #dc3545; /* Color rojo */
}

.bg-color-4 {
  background-color: #fd7e14; /* Color naranja */
}

.bg-color-5 {
  background-color: #ffc107; /* Color amarillo */
}

.bg-color-6 {
  background-color: #6610f2; /* Color púrpura */
}
