<app-header></app-header>

 <!-- Sobre nosotros -->
 <app-nosotros></app-nosotros>
 <!-- sobre nosotros fin-->

 <div class="section-title text-center position-relative mb-4">
  <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Nuestros Cursos</h6>
  <h1 class="display-4">Verifica los nuevos cursos</h1>
</div>

<div class="d-flex justify-content-center align-items-center">
  <div class="keen-slider carousel-container" #sliderRef>
    <ng-container *ngFor="let curso of cursosFiltrados; let i = index">
      <div class="card keen-slider__slide" style="width: 18rem; margin: 5px;">
        <div class="image-container">
          <img [src]="curso.imagen_url" class="card-img-top" alt="...">
          <button class="btn btn-secondary fs-4 btn-details bg-secondary btn-lg" (click)="irADetalles(curso.id_categoria, curso.id_curso)">Detalles</button>
        </div>
        <div class="card-body bg-color-{{i}}">
          <h5 class="card-title text-white text-center">{{ curso.nombre_curso }}</h5>
        </div>
      </div>
    </ng-container>
  </div>
</div>

 <div class="row justify-content-center bg-image mx-0 mb-5">
  <div class="col-lg-6 py-5">
      <div class="bg-white p-5 my-5">
          <h1 class="text-center mb-4">Empieza a estudiar ya mismo</h1>
          <form (ngSubmit)="comprarAhora()">
              <div class="form-row">
                  <div class="col-sm-6">
                      <div class="form-group">
                        <select class="custom-select bg-light border-0 px-3" style="height: 60px;" [(ngModel)]="selectedCourseId" name="selectedCourseId" (change)="actualizarSelectedCourseId($event)">
                          <option value="">Selecciona el curso</option>
                          <option *ngFor="let curso of cursos" [value]="curso.id_curso">{{ curso.nombre_curso }}</option>
                        </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                    <button class="btn btn-primary btn-block pt-3 btn-rect" type="submit" style="height: 60px;">Comprar Ahora</button>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
 <!-- Cursos Final -->

 <!-- Administradores -->
 <app-administradores></app-administradores>
 <!-- Administradores -->

 <!-- Zona de contacto -->
 <app-contacto></app-contacto>
 <!-- Finaliza Zona de contacto -->
